/* 
==============================================================================
Under 1200px and minmam 900px 
==============================================================================
*/
@media (width<=1200px) and (width>=900px) {
  :root {
    /* Font Sizes */
    --logo: 1.7rem;
    --nav-btn: 1rem;
    --title-size: 2.5rem;
    --side-title-size: 1.1rem;
    --para-size: 1.2rem;
    --social-media-size: 1.5rem;
    --text-size: 1.2rem;
  }
  header.desktop-menu .bar {
    display: none;
  }
  /* Home Section */

  section.home div.title-box p {
    text-align: justify;
    color: var(--text-color);
    font-size: var(--para-size);
    line-height: 1.5rem;
  }
}

/* 
==============================================================================
Under 900px and minmam 500px 
==============================================================================
*/
@media (width>=500px) and (width<=900px) {
  :root {
    /* Font Sizes */
    --logo: 2rem;
    --bar-font-size: 2.2rem;
    --title-size: 4rem;
    --side-title-size: 1.7rem;
    --para-size: 1.7rem;
    --btn-font_size: 1.5rem;
    --text-size: 1.9rem;
    /* Height */
    --section-height: 120vh;
  }
  .Btn {
    width: 29vw;
  }
  .box {
    width: 40vw;
  }
  /* ==================================================================================== */
  header.desktop-menu nav.navbar {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: #fff;
    width: 100%;
    height: var(--Hembarger-height);
    justify-content: center;
    align-items: center;
  }
  header.desktop-menu .bar {
    font-size: var(--bar-font-size);
    display: block;
  }
  header.desktop-menu nav ul {
    flex-direction: column;
  }
  header.desktop-menu nav ul li {
    width: 20vw;
  }
  /* home Section */
  section.home {
    flex-wrap: wrap-reverse;
    height: 120vh;
  }
  section.home div.title-box {
    width: 100%;
    padding: 0;
  }
  section.home div.buttons {
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  section.home div.image {
    width: 100%;
    padding: 0 auto;
  }
  section.home div.image figure {
    width: 70vw;
    height: 50vh;
    padding: 2vw;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  section.home div.image figure img {
    object-fit: cover;
    position: relative;
    top: 1.2vh;
  }
  section.home div.image .before,
  section.home div.image .after {
    width: 12vw;
    height: 12vw;
  }
  section.home div.image .after {
    left: 9vw;
    top: -3vh;
  }
  section.home div.image .before {
    right: 8vw;
    bottom: -3.5vh;
  }
  section.home div.title-box {
    height: 35%;
  }
  section.home div.title-box h3 {
    text-align: center;
  }
  section.home div.title-box h1 {
    text-align: center;
  }
  section.home div.title-box p {
    line-height: 2.1rem;
  }
  section.home .socalmedia-icons {
    width: 100%;
    height: 6vh;
    margin-top: 7vh;
  }
  section.home .socalmedia-icons i {
    padding: 2vw;
  }
  /* 
  =======================|Services|===================================
  */
  section.services {
    height: 110vh;
  }
  section.services div.title-box p {
    margin-bottom: 5vh;
  }
  section.services div.coniner-box {
    margin: 0;
  }

  section.services div.coniner-box div.box:nth-last-child(1) h1 {
    font-size: calc(var(--text-size) - 0.5rem);
  }
  section.services div.coniner-box div.box:nth-last-child(2) h1 {
    font-size: calc(var(--text-size) - 0.5rem);
  }
  section.services div.coniner-box div.box:nth-last-child(3) h1 {
    font-size: var(--text-size);
  }

  /* 
  =======================|about|===================================
  */
  section.about {
    height: 95vh;
    padding-top: 5vh;
  }
  section.about figure {
    width: 100%;
    padding: 3vw;
  }
  section.about div.about-box {
    width: 100%;
  }
  /* 
  =======================|Experience|===================================
  */

  section.experience {
    height: 120vh;
  }
  section.experience h1.title {
    margin: 0;
    margin-bottom: 2vh;
  }
  section.experience div.contaner-box .box:nth-last-child(3) h1 {
    font-size: calc(var(--text-size) - 0.2rem);
  }
  section.experience div.contaner-box .box:nth-last-child(2) h1 {
    font-size: calc(var(--text-size) - 0.5rem);
  }
  section.experience div.contaner-box .box:nth-last-child(1) {
    width: 52vw;
  }
  section.experience div.contaner-box .box h1 {
    margin-bottom: 20%;
  }
  section.experience div.contaner-box .box p {
    opacity: 1;
  }
}

/* 
==============================================================================
Under 500px and minmam 0px 
==============================================================================
*/
@media (width > 0px) and (width < 500px) {
  :root {
    /* Font Sizes */
    --logo: 1.5rem;
    --bar-font-size: 1.8rem;
    --title-size: 2rem;
    --side-title-size: 1rem;
    --para-size: 1rem;
    --btn-font_size: 1rem;
    --social-media-size: 2rem;
    --text-size: 1.4rem;
    /* Height */
    --Home-height: 120vh;
  }
  .Btn {
    width: 44vw;
    height: 8vh;
  }
  .box {
    width: 70vw;
    margin: 0;
  }
  .title {
    font-size: x-large;
  }
  /* 
  ==========================| Header |=====================================
  */
  header.desktop-menu nav.navbar {
    border-top: 2px solid var(--text-color-light);
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: #fff;
    width: 100%;
    height: var(--Hembarger-height);
    justify-content: center;
    align-items: center;
  }
  header.desktop-menu .bar {
    font-size: var(--bar-font-size);
    display: block;
  }
  header.desktop-menu nav ul {
    flex-direction: column;
  }
  header.desktop-menu nav ul li {
    width: 35vw;
  }
  /* 
  ==========================| Home |=====================================
  */

  section.home {
    flex-wrap: wrap-reverse;
    height: 116vh;
  }
  section.home div.title-box {
    width: 100%;
    padding: 0;
  }
  section.home div.buttons {
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  section.home div.image {
    width: 100%;
    padding: 0 auto;
  }
  section.home div.image figure {
    width: 70vw;
    height: 50vh;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  section.home div.image .before,
  section.home div.image .after {
    width: 20vw;
    height: 20vw;
  }
  section.home div.image .after {
    left: 8vw;
    top: -3vh;
  }
  section.home div.image .before {
    right: 7vw;
    bottom: -3.5vh;
  }
  section.home div.title-box {
    height: 35%;
  }
  section.home div.title-box p {
    line-height: 1.3rem;
    text-align: center;
  }
  section.home .socalmedia-icons {
    width: 100%;
    height: 8vh;
    margin-top: 5vh;
  }
  section.home .socalmedia-icons i {
    padding: 2vw;
  }
  /* 
  =======================|Services|===================================
  */
  section.services {
    height: 198vh;
  }
  section.services div.coniner-box {
    margin: 0;
  }
  section.services div.coniner-box {
    height: 87%;
    margin-top: 2vh;
  }

  section.services div.coniner-box div.box .top h1 {
    gap: 5vw;
  }
  section.services div.coniner-box div.box:nth-last-child(1) h1,
  section.services div.coniner-box div.box:nth-last-child(2) h1 {
    font-size: calc(var(--text-size) - 0.3rem);
    gap: 2vw;
  }
  section.services div.coniner-box div.box:nth-last-child(3) h1 {
    font-size: var(--text-size);
  }

  /* 
  =======================|about|===================================
  */
  section.about {
    margin: 0;
    height: 85vh;
  }
  section.about figure {
    width: 100%;
    height: 32vh;
    padding: 3vw;
  }
  section.about div.about-box {
    width: 100%;
  }
  /* 
  =======================|experience|===================================
  */
  section.experience {
    height: 180vh;
    flex-direction: row;
  }
  section.experience div.contaner-box .box:nth-last-child(2) h1 {
    font-size: calc(var(--text-size) - 0.2rem);
  }
  section.experience div.contaner-box .box:nth-last-child(1) h1 {
    font-size: calc(var(--text-size) - 0.2rem);
  }
  /* section.experience div.contaner-box .box h1 {
    margin-bottom: 20%;
  }
  section.experience div.contaner-box .box p {
    opacity: 1;
  } */
}
